body{
    background-color: var(--fond);
}

.main__about{
    background-color: var(--article);
    margin-top: 60px;
    margin-right: 5px;
    margin-left: 20px;
    width: 335px;
    height: 591px;
}