body{
    background-color: var(--fond);
}

.main__about{
    background-color: var(--article);
    width: 335px;
    height: 591px;
    margin: auto;
    margin-top: 60px;
}

.main__title{}

.main__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    width: 315px;
    left: 30px;
    top: 272px;
    margin-top: 30px;
    margin-left: 10px;
}