body{
    background-color: var(--fond);
}

.main__about{
    background-color: var(--article);
    width: 350px;
    height: 570px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    margin-left: 10px;
    padding-top: 10px;
    
}

.main__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    width: 315px;
    left: 30px;
    top: 272px;
    margin-top: 30px;
    margin-left: 10px;
}


.glossaire{
    background-color: var(--article);
    width: 350px;
    height: 580px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.glossaire__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.glossaire__terme{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-left: 10px;
}

.glossaire__def{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
    line-height: 20px;

    margin: auto;
    border-bottom: 3px solid var(--menu);
    width: 320px;
    padding-bottom: 5px;
}

.glossaire__link{
    color: blueviolet;
}

.projets{
    background-color: var(--article);
    width: 350px;
    height: 825px;
    margin: auto;
    margin-top: 70px;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.Title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 15px;
}

.projets__personne{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 0;
}

.projets__sites{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: blueviolet;
    
    position: absolute;
    border-bottom: 3px solid var(--menu);
    width: 320px;
    padding-bottom: 7px;
}

.autres{
    padding-left: 15px;
    padding-right: 0;
}


    