:root {
    --fond: rgba(215, 208, 238, 1);
    --article: rgba(237, 236, 252, 1);
    --menu: rgba(167, 149, 212, 1);
    --text:rgba(0, 0, 0, 1);
    --textMenu:rgba(55, 50, 50, 1);

    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 48px;
    --space5x: 80px;
     
}