.footer{
    background-color:var(--menu);
    position: absolute;
    height: 300px;
}

.footer__categorie1{
    font-family: 'inter';
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
}

.footer__item1{
   position: absolute; 
   left: 36%;
   right: 60%;
   top: 21%;
   bottom: 73%;
   width: 16px;

}

.footer__item2{
   position: absolute;
   left: 49%;
   right: 49%;
   top: 19%;
   bottom: 73%;
   width: 16px; 

   border-bottom: 1px solid var(--text);
   position: absolute;
   bottom: 72%;
   width: 180px;
}

.footer__item3{
   position: absolute;
   left: 59%;
   right: 38%;
   top: 21%;
   bottom: 73%;
   width: 16px;
}

.footer__item4{
    position: absolute;
    left: 8%;
    right: 78.4%;
    top: 30%;
    bottom: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #373232;
}

.footer__item5{
    position: absolute;
    left: 29.07%;
    right: 58.67%;
    top: 30%;
    bottom: 50%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center; 
    color: #373232;
}

.footer__item6{
    position: absolute;
    left: 48.8%;
    right: 37.07%;
    top: 30%;
    bottom: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #373232;
}

.footer__item7{
    position: absolute;
   left: 70.4%;
   right: 8.27%;
   top: 30%;
   bottom: 50%;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   color: #373232;
}

