.footer{
    background-color:var(--menu);
    position: absolute;
    height: 290px;
}

.footer__categorie{
    font-family: 'inter';
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
    color: #373232; 
    margin-top: 5px;
}

.footer__item{
    position: absolute;
    left: 36%;
    right: 59.73%;
    top: 50px;
    bottom: 73.02%;
    padding-bottom: 40px;
}

.footer__item2{
    position: absolute;
    left: 48.53%;
    right: 48.8%;
    top: 50px;
    bottom: 73.02%;
}

.footer__item3{
    position: absolute;
    left: 58.4%;
    right: 37.07%;
    top: 51px;
    bottom: 73.41%;
}

.footer__item4{
    line-height: 70px;
    width: 67px;
    padding-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #373232;
}

.footer__item5{
    width: 67px;
    padding-left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #373232;
}

.footer__item6{
    width: 67px;
    padding-left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #373232;
}

.footer__item7{
    width: 67px;
    padding-left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #373232;
}

.footer__border{
    border-bottom: 2px solid #373232;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.footer__exercice{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   color: #373232;
}



