.header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

.lang{
    /* width: 80px; */
    margin-left: 105px;
    margin-top: 31px;
    width: 40px;
    padding-left: 10px;
}

.lang__link{

}

.lang__logo{
    margin-left: 105px;
    margin-top: 15px;
    width: 40px;
}

.header__title{
    position: absolute;
    height: 20px;
    left: 170px;
    top: 125px;
    font-family: 'Cinzel';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--text);
   text-align: center;
}

.header__logo{
   width: 100px;  
}
