.header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

.header__img{
    display: block;
    
}

.lang{
    width: 80px;

}

.lang__logo{
    margin-left: 50px;
}

.header__title{
    margin: auto;
    margin-top: 130px;
}