.header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

.lang{
    width: 80px;

}

.lang__logo{
    margin-left: 90px;
    width: 40px;
}

.header__title{
    position: absolute;
    height: 20px;
    left: 153px;
    top: 100px;
    font-family: 'Cinzel';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: var(--text);
}

.header__logo{
   width: 100px;  
}
