.freak{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.freak__titles{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 15px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.freak__titles2{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.freak__img{
    width: 90%;
    padding-left: 18px;
    margin-bottom: 10px;
}

.freak__content{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;

}

.freak__exergue{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 17px; 
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.freak__link{
    margin-left: 65px;
}

.freak__quote{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}


/* article film k-12 */
.k12{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.k12__img{
    width: 95%;
    padding-left: 9px;
    margin-bottom: 10px;
}

.k12__title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 15px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.k12__title2{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.k12__content{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    width: 95%;
    padding-top: 0;
}

.k12__exergue{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    font-size: 17px; 
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    margin-left: 35px;
}

.k12__content2{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 95%;
    padding-top: 0;
    
}

.k12__caption{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;

    margin-left: 88px;
    margin-top: 0;
    margin-bottom: 30px;

    border-bottom: 4px solid var(--menu);
    width: 200px;
    padding-bottom: 20px;
    
}

.k12__link{
    margin-left: 65px;
}

/* article sur le lieux */

.castle{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.castle__title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 15px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.castle__title2{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.castle__img{
    width: 95%;
    padding-left: 9px;
    margin-bottom: 10px;
}

.castle__content{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    width: 95%;
    padding-top: 0;
}

.castle__link{
    margin-left: 65px;
}

/* article alice au pays des merveilles */
.alice{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.alice__title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 20px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.alice__img{
    width: 95%;
    padding-left: 9px;
    margin-bottom: 10px; 
}

.alice__title2{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.alice__content{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    width: 95%;
    padding-top: 0;
}

.alice__content2{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
}

.alice__video{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.alice__exergue{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    font-size: 17px; 
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    margin-left: 35px;
}

.alice__link{
    margin-left: 65px;
}

/* article regret */
.regret{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.regret__title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 20px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.regret__title2{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.regret__img{
    width: 95%;
    padding-left: 9px;
    margin-bottom: 10px;
}

.regret__content{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    width: 95%;
    padding-top: 0;
}

.regret__link{
    margin-left: 65px;
}

/* article espoir */
