/* homepage */
.intro{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.homepage__img{
    width: 95%;
    padding-left: 9px;
}

.homepage__guide{
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 5px;

    border-bottom: 3px solid var(--menu);
    width: 320px;
    padding-bottom: 7px;
    margin: auto;
}