/* homepage */
.intro{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.homepage__img{
    width: 95%;
    padding-left: 9px;
}

.homepage__guide{
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 5px;

    border-bottom: 3px solid var(--menu);
    width: 320px;
    padding-bottom: 7px;
    margin: auto;
}

.homepage__title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 30px;
}

.homepage__article{
    background-color: var(--article);
    width: 350px;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.homepage__img2{
    width: 95%;
    padding-left: 8px;
}

.homepage__extract{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    margin-left: 15px;

    border-bottom: 3px solid var(--menu);
    width: 320px;
    padding-bottom: 3px;
}

.homepage__resume{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.homepage__link{
    color: #000000;
    text-decoration: none;
}
