.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #A795D4;
    display: grid;
    place-content: center;
  }
  .header__menuBtn{
    position: relative;
    z-index: 10;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    width: 80px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
  }
  .noscroll,
  .noscroll body {
    overflow: hidden;
   }

   .menu__title1{
    font-family:var(--text);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #373232;
    text-align: center;
    top: 195px;
    /* height: 70px; */
   
    padding-top: 10px;
    margin: auto;
    border-bottom: 5px solid var(--fond);
    width: 320px;
    padding-bottom: 5px;
   }

   .menu__link{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #373232;
   }

   .menu__item{
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
   }

   .menu__title2{
    font-family: 'Cinzel';
    font-style:normal;
    font-weight: 700;
    font-size: 15px;
    color: #373232;
    text-align: center;
    margin-top: 0;

    padding-top: 0px;
    border-bottom: 5px solid var(--fond);
    width: 320px;
    padding-bottom: 5px;
    margin-right: 40px;
   }

   .menu__list{
    display: grid;
    font-size: 15px;
    height: 400px;
   }
   
   .menu__icon{
    width: 25px;
    height: 20px;
    left: 31px;
    top: 248px;
    float: left;
   }

   .menu__link2{
    position: absolute;
    width: 67px;
    left: 30px;
    top: 680px;

    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #373232;
    text-align: center;
   }

   .menu__link3{
    position: absolute;
    width: 83px;
    left: 138px;
    top: 680px;

    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #373232;
   }

   .menu__link4{
    position: absolute;
    width: 100px;
    left: 260px;
    top: 680px;

    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #373232;
   }